cffi==1.17.1
cryptography==43.0.3
lxml==5.3.0
msoffcrypto-tool==5.4.2
olefile==0.47
pycparser==2.22
pycryptodome==3.21.0
PyPDF2==3.0.1
python-docx==1.1.2
python-dotenv==1.0.1
setuptools==75.2.0
typing_extensions==4.12.2
